doctype html
html
  head
    title= 'Fomo \- Discover the conversation'
    link(rel='stylesheet', href='/stylesheets/css/style.css')
  body
    block content
    script(src='/javascripts/build/app.js')
