@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#threads {
	padding-top: 10px;
}

.post-score {
	float: right;
}

.post-thumb img {
  float: left;
}

.post-author {
	margin-left: 10px;
}

.list-group-item {
  margin-left: 210px;
}

.listing-company-category {
	float: right;
}
