@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #FFF;
}

a {
	color: #00B7FF;
}

#threads {
	padding-top: 10px;
}

.post-score {
	float: right;
}

.post-thumb {
  flex-grow: 1;
  display: flex;
  margin-right: 10px;
  width: 80px;
  height: 80px;

}

.thumbnail-img {
  margin: auto;
  width:100%;
  height:100%;
}

.post-author {
	margin-left: 10px;
}

.list-group-item {
  flex-grow: 2;
}

.post-container {
  margin-top: 5px;
  display: flex;
}

.search-table {
  display: flex;
  flex-direction: column;
}

.search-bar {
  flex-grow: 1;
  margin-bottom: 10px;
  // display: flex;
}

.search-box {
  // flex-grow: 1;
}

.input-group-addon {
  // flex-grow: 1;
}

.input-group {
  // flex-grow: 1;
  // display: flex;
}

.num-comments {
  float: right;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
