@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#threads {
	padding-top: 10px;
}

.post-score {
	float: right;
}

.post-thumb {
  // max-width: 100%;
  // max-height: 100%;
  flex-grow: 1;
  // align-items: center;
  // display: inline-block;
  // vertical-align: middle;
  // height: 100%;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // float: left;
  // text-align: center;
  // margin: 1em 0;
  display: flex;
}

.thumbnail-img {
  // align-items: center;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // vertical-align: middle;
  // max-height: 100%;
  // max-width: 100%;
  margin: auto;
}

.post-author {
	margin-left: 10px;
}

.list-group-item {
  flex-grow: 2;
  margin-left: 10px;
}
//
// .listing-company-category {
// 	float: right;
// }

.post-container {
  margin-top: 5px;
  display: flex;
}

.search-table {
  display: flex;
  flex-direction: column;
}

.search-bar {
  flex-grow: 1;
  display: flex;
}

.search-box {
  flex-grow: 1;
}
